.Left {
  grid-column: 1;
  outline-style: solid;
}

.Main {
  grid-column: 2 / 5;
  outline-style: solid;
}

.Right {
  grid-column: 5;
  outline-style: solid;
}

.ViewPort {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  outline-style: solid;

}

.list-polygon-item {
  width: 100%;
  outline-style: solid;
}