.Left {
  grid-column: 1;
  outline-style: solid;
}

.Main {
  grid-column: 2 / 5;
  outline-style: solid;
}

.Right {
  grid-column: 5;
  outline-style: solid;
}

h1 {
  grid-column: 1 / 5;
  color: #213547;
}

.ViewPort {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  outline-style: solid;

}

.list-feature-collection {
  width: 100%;
  outline-style: solid;
  margin-bottom: 10px;
}
.list-polygon-item {
  width: 80%;
  outline-style: solid;
  margin-bottom: 10px;
}

.Selector2 {
  background: #535bf2;
}